footer{
    /* height:220px; */
    /* border:5px solid purple; */
    /* margin-top: 2%; */
    background-color:#212121 ;
    color:white;
    text-align: center;
}

.footText{
    font-size:20px
}

.footDiv{
    display:inline-block;
    width:32%;
    border-right:2px solid white
}
ul{
    list-style-type: none;
}

.noborder{
    border:none
}
.socialLogo{
    height: 60px;
    padding-bottom: 10px;
}

@media screen and (max-width:1600px){
    body{
        background-color:var(--secondary-color) ;
    }
}